/**
  Home Section
*/

.home-section {

  .portfolio-projects-section {
    .container {
      .row {
        > div {
          margin-bottom: 30px;
        }
        .text-section {

          p {
            margin-bottom: 44px;
          }

          .subscribe {
            padding: 8px;
            width: 485px;
            height: 60px;
            background: #202429;
            border-radius: 100px;
            flex-direction: row;
            @media (max-width: 576px) {
              width: 100%;
              flex-direction: column;
            }

            input {
              background: transparent;
              color: #FFFFFF;
              border: none;
              outline: none;
              font-size: 20px;
              padding: 8px;
              margin-left: 16px;
            }

            button {
              border-radius: 26px;
              font-weight: 500;
              font-size: 20px;
              text-align: center;
              color: #FFFFFF;
              border: none;
              height: 100%;
              width: 153px;
              @media (max-width: 576px) {
                min-height: 60px;
                margin-top: 20px;
                width: 100%;
              }
            }
          }
        }

        .img-section {
          .small-img {
            right: 0px;
            top: 43px;
            @media (max-width: 576px) {
              width: 70%;
            }
          }
          @media (max-width: 576px) {
            margin-top: 70px;
          }
          .portfilio-img {
            @media (max-width: 576px) {
              width: 80%;
            }
          }
        } 
      }

    }
  }

  // description-section
  .description-section {
    margin-top: 160px;
    background: #202429;
    border: 1px solid #000000;
    h1 {
      margin-bottom: 20px;
      margin-top: 78px;
      max-width: 963px;
    }
    p {
      margin-bottom: 95px;
      max-width: 645px;
    }
    @media (max-width: 576px) {
      padding: 0px 15px;
    }
  }

  // fund your business section
  .fund-business-section {
    margin-top: 60px;

    .row {
      > div {
        margin-top: 30px;
      }
      .img-section {
        .fund-business-white {
          top: 50px;
          left: 0px;
          z-index: -1;
        }
        
        .fund-business-black {
          margin-right: 40px;
          @media (max-width: 576px) {
            margin: 0px;
          }
        }
      }
    }

  }

  // trade section
  .trade-section {
    margin-top: 100px;
    .row {
      > div {
        margin-top: 30px;

        .img-section {
          .trade-big {
            margin-left: 50px;
            @media (max-width: 576px) {
              margin: 0px;
            }
          }
          .trade-small {
            right: 0px;
            top: 41px;
            z-index: -1;
          }
        }
      }
    }
  }

  // list section
  .list-section {
    margin-top: 155px;
    .row {
      > div {
        margin-top: 30px;
        .content {
          padding: 50px 40px;
          background: #202429;
          border: 1px solid #000000;
          border-radius: 10px;

          .description {
            margin-top: 45px;
            font-size: 20px;
            text-align: center;
            color: #656C74;
          }
        }
      }
    }
  }

  // orders-settings-section
  .orders-settings-section {
    margin-top: 140px;
    margin-bottom: 110px;
    .row {
      > div {
        margin-top: 30px;
        .img-section {
          .orders {
            left: 0px;
            top: 41px;
            z-index: -1;
          }

          .settings {
            margin-right: 50px;
            @media (max-width: 576px) {
              margin: 0px;
            }
          }
        }
      }
    }
  }
}